{% extends "../root.html" %} 

{% block content %} 

{% include 'snippets/_search_input.html' %}

<div class="mb-12 px-6">
  <h2 class="title">Testimonial</h2>
  <p class="max-w-2xl">
    What Jaaja Mumalansongo's clients say about our services. quality and satisfaction, we are always happy to hear from you.
  </p>
</div>

<div>
  {% if testimonials %}
    <div class="grid grid-cols-1 md:grid-cols-2 px-6 gap-6 ">
      {% for testify in testimonials %}
        <div
          class="group bg-white border border-solid border-gray-300 rounded-2xl max-sm:max-w-sm max-sm:mx-auto p-6 transition-all duration-500 hover:border-blue-600 anim-el-hidden"
        >
          <div class="flex items-center gap-5 mb-5 sm:mb-9">
            <img
              class="rounded-full object-cover h-14 w-14 aspect-square"
              src="{{ testify.image.url }}"
              alt="avatar"
            />
            <div class="grid gap-1">
              <h5 class="text-gray-900 font-medium transition-all duration-500">
                {{ testify.patient_name|safe }}
              </h5>
              <span class="text-sm leading-6 text-gray-500">{{ testify.created_at }} </span>
            </div>
          </div>
      
          <p
            class="text-sm text-gray-500 leading-6 transition-all duration-500 min-h-24 group-hover:text-gray-800"
          >
          {{ testify.message|safe }}
          </p>
        </div>
      {% endfor %}
    </div>

    <div>
      <nav aria-label="Page navigation example" class="max-w-xl mx-auto my-8">
        <ul class="flex justify-between text-base h-10">
          {% if page_obj.has_previous %}
            <li>
              <a 
                href="?page={{ page_obj.previous_page_number }}"
                class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white  border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 "
              >Previous
            </a>
            </li>
          {% endif %}          
        
          {% if page_obj.has_next %}
            <li>
              <a 
              href="?page={{ page_obj.next_page_number }}"
              class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ">Next &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>    
  {% else %}
      <p class="text-center font-jost text-3xl py-32">No testimonials found</p>
  {% endif %}
</div>

{% endblock %}
