
<aside class="p-4 my-8 bg-white rounded-lg sm:p-6 lg:p-8 " aria-label="Subscribe to the Ancestor newsletter">
  
  <div class="bottom-0 left-0 z-20 w-full p-4 bg-white border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 "">
    <span class="text-sm text-gray-500 sm:text-center ">© 2024 <a href="/" class="hover:underline">Ancestoral Spells</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500  sm:mt-0">
        <li>
            <a href="/" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
            <a href="/services" class="hover:underline me-4 md:me-6">Services</a>
        </li>
        <li>
            <a href="/about-me" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="/contact-me" class="hover:underline">Contact</a>
        </li>
    </ul>
  </footer>
</aside>

