{% load static %}
<div id="about" class="relative bg-neutral-100 overflow-hidden mt-16">
  <div class="max-w-7xl mx-auto ">
    <div
      class="relative z-10 pb-8 bg-neutral-100 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32"
    >
      <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-neutral-100 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>

      <div class="pt-1"></div>

      <main
        class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
      >
        <div class="sm:text-center px-3 lg:text-left">
          <h2 class="title">ABOUT ME</h2>

          <p class="mb-4 anim-el-hidden">
            <b class="font-jost text-blue-600">Jajja Mumalansoga</b> is a local doctor who uses traditional methods and natural
            herbs to help people with various issues in their lives. With years
            of experience, he treats health problems, emotional struggles, and
            difficulties in relationships using the power of nature and ancient
            healing practices.
            cre ta kdfdk 
            dfasdjkd
          </p>

          <p class="anim-el-hidden">
            He also offers guidance for those seeking solutions in marriage,
            love, work, and wealth. Whether addressing troubled relationships,
            career challenges, or the pursuit of success, Dr. John uses his deep
            knowledge of herbs and traditional rituals to provide remedies,
            earning the trust of many in the community.
          </p>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="h-fit w-full object-cover sm:object-top lg:w-full"
      src="{% static 'images/img-1.jpg' %}"
      alt=""
    />
  </div>
</div>
