<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<section class="py-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div
          class="flex justify-center items-center gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8 max-w-sm sm:max-w-2xl lg:max-w-full mx-auto">
          <div class="w-full lg:w-2/5">
              <span class="text-sm text-gray-500 font-medium mb-4 block">Testimonial</span>
              <h2 class="text-4xl font-bold text-gray-900 leading-[3.25rem] mb-8">These are some of my happen clients <span
                      class=" text-transparent bg-clip-text bg-gradient-to-tr from-blue-600 to-violet-600">Testifying</span>
              </h2>
              <!-- Slider controls -->
              <div class="flex items-center justify-center lg:justify-start gap-10">
                  <button id="slider-button-left"
                      class="swiper-button-prev group flex justify-center items-center border border-solid border-blue-600 w-12 h-12 transition-all duration-500 rounded-lg hover:bg-blue-600"
                      data-carousel-prev>
                      <svg class="h-6 w-6 text-blue-600 group-hover:text-white" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M20.9999 12L4.99992 12M9.99992 6L4.70703 11.2929C4.3737 11.6262 4.20703 11.7929 4.20703 12C4.20703 12.2071 4.3737 12.3738 4.70703 12.7071L9.99992 18"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                      </svg>

                  </button>
                  <button id="slider-button-right"
                      class="swiper-button-next group flex justify-center items-center border border-solid border-blue-600 w-12 h-12 transition-all duration-500 rounded-lg hover:bg-blue-600"
                      data-carousel-next>
                      <svg class="h-6 w-6 text-blue-600 group-hover:text-white" viewBox="0 0 24 24" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M3 12L19 12M14 18L19.2929 12.7071C19.6262 12.3738 19.7929 12.2071 19.7929 12C19.7929 11.7929 19.6262 11.6262 19.2929 11.2929L14 6"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" />
                      </svg>

                  </button>
              </div>
          </div>
          <div class="w-full lg:w-3/5">
              <!--Slider wrapper-->
              {% if testimonials %}
              <div class="swiper mySwiper">
                  <div class="swiper-wrapper gap-4 py-3">
                    {% for testimonial in testimonials %}
                      <div
                          class="swiper-slide group bg-white border border-solid border-gray-300 rounded-2xl max-sm:max-w-sm max-sm:mx-auto p-6 transition-all duration-500 hover:border-blue-600">
                          <div class="flex items-center gap-5 mb-5 sm:mb-9">
                              <img class="rounded-full h-10 w-10 object-cover aspect-square" src="{{ testimonial.image.url }}" alt="avatar">
                              <div class="grid gap-1">
                                  <h5 class="text-gray-900 font-medium transition-all duration-500  ">{{ testimonial.patient_name }}
                                  </h5>
                                 
                              </div>
                          </div>
                         
                          <p
                              class="text-sm text-gray-500 leading-6 transition-all duration-500 min-h-24 group-hover:text-gray-800 line-clamp-5 anim-el-hidden">
                              {{ testimonial.message }}
                          </p>

                      </div>
                    {% endfor %}
                  </div>
              </div>

            
              {% else %}
              <div class="w-full py-6 px-4">
                <p class="font-jost text-center items-center">
                    There are no Testimonials
                </p>
              </div>
              {% endif%}
          </div>

         
      </div>
      
      {% if testimonials %}
      <div class="w-fit mx-auto mt-6">
        <a href="/testimonials" class="py-4 rounded-full text-neutral-100 font-jost w-fit flex items-center justify-center px-6 bg-blue-600">
            <p>
                More Testimonials
            </p>
        </a>
      </div>
      {% endif %}
  </div>
</section>

<script>
  var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      spaceBetween: 28,
      centeredSlides: false,
      loop: true,
      pagination: {
          el: ".swiper-pagination",
          clickable: true,
      },
      navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
      },
      breakpoints: {
          0: {
              slidesPerView: 1,
              spaceBetween: 20,
              centeredSlides: false,
          },
          768: {
              slidesPerView: 2,
              spaceBetween: 28,
              centeredSlides: false,
          },
          1024: {
              slidesPerView: 2,
              spaceBetween: 32,
          },
      },
  });
</script>