{% extends "../root.html" %}

{% block title %} My Services {% endblock %}

{% block content %}
  
{% include 'snippets/_search_input.html' %}

<section class="px-6">
  <div class="mb-10">
    <h1 class="title">
      My Services
    </h1>
    <p>
      These are my services i offer filter and find your desired service.
    </p>
  </div>

  <div>
    {% if services %}
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        {% for service in services %}
        <a href="{% url 'service_detail' service.id %}" class="flex flex-col sm:flex-row gap-6 pb-6 border-b-2 border-gray-100 cursor-pointer anim-el-hidden">
          
          
          <div class="min-w-44 h-36">
            <img src="{{ service.thumbnail }}" alt="{{ service.title }}" class="object-cover w-full h-full rounded-lg" />
          </div>
          <!--  -->
          <div class="flex flex-col justify-between">
          <!-- Author & Category -->
          <div class="flex md:gap-4 gap-2 text-sm text-gray-700 font-semibold">
            <span class="flex gap-1 items-center"><ion-icon name="person-outline"></ion-icon>Admin</span>
          </div>
          <!-- Blog Titile -->
          <h3 class="text-2xl font-semibold text-teal-900 capitalize chelsea-market-regular mb-1">{{service.title}}</h3>
          <!-- Blog Description -->
          <p class="text-md text-gray-500 line-clamp-3">{{ service.description }}
            websites.</p>
          </div>
        </a>
        {% endfor %}
      </div>

      <div>
        <nav aria-label="Page navigation example" class="max-w-xl mx-auto my-8">
          <ul class="flex justify-between text-base h-10">
            {% if page_obj.has_previous %}
              <li>
                <a 
                  href="?page={{ page_obj.previous_page_number }}"
                  class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 "
                >Previous
              </a>
              </li>
            {% endif %}          
          
            {% if page_obj.has_next %}
              <li>
                <a 
                href="?page={{ page_obj.next_page_number }}"
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 ">Next &raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>    
    {% else %}
      {% if query %}
        <p class="text-center font-jost text-3xl py-32">No services found for "{{ query }}"</p>
      {% else %} 
        <p class="text-center font-jost text-3xl py-32">No services found</p>
      {% endif %}
    {% endif %}
  </div>  
</section>

{% endblock %}